a:hover {
	font-family: "Times New Roman", Times, serif;
	color: #000000;
	background-color: #CCCCCC;
	font-size: 16px;
	font-style: normal;
	text-transform: capitalize;
}
.loginbody {
	font-family: "Times New Roman", Times, serif;
	background-color: #2998DC;
	color: #FFFFFF;
	font-size: 16px;
	font-style: normal;
	text-transform: capitalize;
	height: auto;
	width: auto;
	clear: none;
	float: none;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.menu {
	font-family: "Times New Roman", Times, serif;
	background-color: #9FDFAB;
	color: #000000;
	font-size: 16px;
	font-style: normal;
	text-transform: capitalize;
	height: auto;
	width: auto;
	text-decoration: blink;
}
.tablebody {
	font-family: "Times New Roman", Times, serif;
	background-color: #2998DC;
	color: #000000;
	font-size: 16px;
	font-style: normal;
	text-transform: capitalize;

}
.edittablebody {
	font-family: "Times New Roman", Times, serif;
	background-color: #CCCCFF;
	color: #000000;
	font-size: 16px;
	font-style: normal;
	font-weight:bold;
	text-transform: capitalize;

}

.box2 {
	font-style: italic;
	word-spacing: 2pt;
	padding: 3px;
	border-width: thin;
	border-style: solid;
}
.logout
{
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
}
.textRpt {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000000;
	font-weight:bold;
}
.headTitleRpt
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	background-color:#2998DC;
	color:#FFFFFF;
}

.footer {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #FFFFFF;
	background:#FF0000;
	
}
.box1 {
	padding: 3px;
	border-width: thin;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}